{% extends "base.html" %}

{% block content %}
    <div class="container">
      <h2>Job Summary</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Job #</th>
            <th>Nodes (limit)</th>
            <th>Length</th>
            <th>Started</th>
            <th>Finished</th>
            <th>Progress</th>
            <th>Summary</th>
          </tr>
        </thead>
        <tbody id="jobs_table">
          <div id="debug">
          </div>
          <tr>
            <td >
              <a href="#">
                fetching jobs... 
              </a>
            </td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <!--
            <td>
              <div class="text-xs-center" id="progress53">0%</div>
                <progress class="progress" value="0" max="100" aria-describedby="progress53"></progress>
              </div>
              </div>
            </td>
            <td>
              <p>
            -->

                <!-- badge-success green    -->
                <!-- badge-warning yellow   -->
                <!-- badge-danger  red      -->
                <!-- badge-default grey     -->

            <!--
                <span class="badge badge-pill badge-default" data-toggle="tooltip" data-placement="top" title="OK" id="ok">                   0</span>
                <span class="badge badge-pill badge-default" data-toggle="tooltip" data-placement="top" title="CHANGED" id="changed">         0</span>
                <span class="badge badge-pill badge-default" data-toggle="tooltip" data-placement="top" title="UNREACHABLE" id="unreachable"> 0</span>
                <span class="badge badge-pill badge-default" data-toggle="tooltip" data-placement="top" title="FAILED" id="failed">           0</span>
              </p>
            </td>
            -->
          </tr>
        </tbody>
      </table>

    </div>
{% endblock %}

{% block content2 %}
    <script>

      var last_job_num = 0;
      var start_job_num = 0;
      var end_job_num = 0;

      // Figure out how many jobs exist first
      let url1 = 'api/get_jobs?get_num_jobs=True';

      fetch(url1)
          .then(
            function(response) {
              return response.json();
            }
          )
          .then(
            function(response) {
              last_job_num  = parseInt(response.num_jobs);
              // convert negative job_num requests to their real positive forms
              start_job_num = parseInt({{ start_job_num }});
              end_job_num   = parseInt({{ end_job_num }});
              if (end_job_num < 0) end_job_num = last_job_num + end_job_num + 1;
              if (start_job_num < 0) start_job_num = last_job_num + start_job_num + 1;
              if (start_job_num < 1) start_job_num = 1; // don't go lower than absolute first job
              document.getElementById("debug").innerHTML =  ''
                  + 'last_job_num = ' + last_job_num
                  + '<br>'
                  + 'start_job_num = ' + start_job_num
                  + '<br>'
                  + 'end_job_num = ' + end_job_num
              ;

              let url2 = 'api/get_jobs' 
                  + '?'
                  + 'start_job_num=' + start_job_num
                  + '&'
                  + 'end_job_num='   + end_job_num
              ;

              return fetch(url2);
            }
          )
          .then(
            function(response) {
              return response.json();
            }
          )
          .then(
            function(jsontext) {
              processlogs(jsontext);
            }
          )






      function processlogs(jsontext) {
              //document.getElementById("debug").innerHTML = 'DEBUG: ' + url2 + '<br>' + JSON.stringify(jsontext,null,2) // deleteme

              var outtext = '';


              //lowest_job_num = last_job_num - {{ stash.jobs_per_screen }};
              //if (lowest_job_num < 1) lowest_job_num = 1;

              // temp debug display
              //document.getElementById("jobs_table").innerHTML = 
              //    'lowest_job_num = ' + lowest_job_num + '<br>' +
              //    'last_job_num   = ' + last_job_num + '<br>';


              //document.getElementById("debug").innerHTML =  ''
              //    +'DEBUG: start_job_num orig = ' 
              //    + {{ start_job_num }}
              //    + '<br>' 
              //    + 'DEBUG: end_job_num orig = ' 
              //    + {{ end_job_num }}
              //    + '<br>' 
              //    +'DEBUG: start_job_num real = ' 
              //    + start_job_num 
              //    + '<br>' 
              //    + 'DEBUG: end_job_num real = ' 
              //    + end_job_num
              //    + '<br>' 
              //    + 'DEBUG: last_job_num = ' 
              //    + last_job_num
              //    ; // deleteme

              for (var j = end_job_num; j >= start_job_num; j--) {
                i = String(j);
                console.log(i);
                outtext += "<tr>" +
                    <!-- Job #  -->
                    '<td>' + i + '</td>' + 

                    <!-- Nodes (limit)  -->
                    '<td>' + jsontext['jobs'][i]['nodes']      +  '</td>' + 

                    <!-- Length  -->
                    '<td>' + jsontext['jobs'][i]['job_length'] +  '</td>' + 

                    <!-- Started  -->
                    '<td>' + jsontext['jobs'][i]['started']    +  '</td>' + 

                    <!-- Finished -->
                    '<td>' + 
                      jsontext['jobs'][i]['finished'] +    
                    '</td>' + 

                    <!-- Progress -->
                    '<td>' + 
                      '<div class="text-xs-center" id="progress53">' + 
                        jsontext['jobs'][i]['job_percent'] + 
                      '%</div>' +
                      '<progress class="progress" value="' + 
                        jsontext['jobs'][i]['job_percent'] + 
                      '" max="100" aria-describedby="progress53"></progress>' + 
                      '</div>' +
                    '</td>' + 

                    <!-- Summary -->
                    "<td>" +  
                      '<span class="badge badge-pill badge-success" data-toggle="tooltip" data-placement="top" title="OK">' + 
                          jsontext["jobs"][i]["summary"]["ok"] + 
                      '</span>' +
                      '<span class="badge badge-pill badge-warning" data-toggle="tooltip"                      title="CHANGED">'      + 
                          jsontext["jobs"][i]["summary"]["changed"]     + 
                      '</span>' +
                      '<span class="badge badge-pill badge-danger"  data-toggle="tooltip" data-placement="top" title="UNREACHABLE">'  + 
                          jsontext["jobs"][i]["summary"]["unreachable"] + 
                      '</span>' +
                      '<span class="badge badge-pill badge-default" data-toggle="tooltip" data-placement="top" title="FAILED">'       + 
                          jsontext["jobs"][i]["summary"]["failed"]      + 
                      '</span>' +
                    "</td>" + 

                  "</tr>";

              }

              //outtext = jsontext['jobs'][i];

              document.getElementById("jobs_table").innerHTML = outtext;
      }



    </script>
{% endblock %}
